<html>

<head>
    <meta charset="utf-8">
    <title>Proposition de lot</title>
</head>

<body>
    <h2>Proposition de lot par : </h2>
    <p><strong>{{name}} {{surname}}</strong></p>
    <p>Mail : {{email}}</p>
    <p>Tel : {{phoneNumber}}</p>
    <p>Langue : {{language}}</p>
    
    <div>
        <img src="cid:logo" alt="Alpha Mares">
    </div>

    <br>
    <h3>Caractéristique du lot :</h3>
    <p><strong>Type :</strong> {{type}}</p>
    <p><strong>Père :</strong> {{father}}</p>
    <p><strong>Mère :</strong> {{mother}}</p>
    <p><strong>Date de naissance :</strong> {{birthDate}}</p>
    <p><strong>Localisation :</strong> {{localisation}}</p>
    <p><strong>Estimation du prix :</strong> {{price}}€</p>
</body>

</html>